.previewPage {
  aspect-ratio: 595 / 842;
}

.previewHeader {
  height: 15.2019%;
}

.previewBody {
  height: 80.7601%;
}

.previewFooter {
  height: 4.038%;
}

.signatureDivider {
  width: 100%;
  margin-left: 0;
}
